/* base */
body {
  font-family:Roboto, sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FFFFFF;
  letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px; 
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  border-bottom: 1px solid #E7E9FC;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
    font-family:Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.header-logo{
  display: flex;
}
.logo-part {
    color:#4D5AE5
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  margin-right: 328px;

}

.nav-link{
    font-weight: 500;
    color: #2E2F42;
    display: block;
    padding: 24px 0;
}

.nav-link:hover, 
.nav-link:focus{
    color: #404BBF;
}

.address {
  font-style: normal;
}
.address-list{
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.address-link{
    text-decoration: none;
    color: #434455;
    display: block;
    padding: 24px 0;
}

.address-link:hover, 
.address-link:focus{
    color: #404BBF;
}

/* hero */
.hero {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background-color: #2e2f42;
  margin-left: auto; 
  margin-right: auto;
  height: 600px; 
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  width: 496px;
  line-height: 1.07; 
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 48px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  font-size: 16px;
  height: 56px;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;    
  margin: 0 auto;
  padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* section features */
.features{
  padding: 120px 0;
}


.features-list{
  display: flex;
  justify-content: space-between;
  gap: 24px
}

.features-item{
  width: 264px;
}

.features-subtitle {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* section features */
.team {
  background-color: #F4F4FD;
  padding: 120px 0;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-title{
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
}

.team-item{
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
}

.team-person{
  background-color: #FFFFFF;
  width: 264px;
  padding: 32px 16px;
  border-radius: 0 0 4px 4px;
}

.team-img {
  display: block
}
.team-name{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.team-desc{
  text-align: center;
  color: #434455;
}

/* section portfolio */
.portfolio{
  padding: 120px 0;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
  column-gap: 24px
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-title{
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.11;
  margin-bottom: 72px;
}

.portfolio-name{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-content {
    padding: 32px 16px; /* Внутрішні відступи, щоб текст не прилипав до рамки */
    border: 1px solid #e7e9fc; 
    border-top: none;
}

/* section footer */
.footer{
  background-color: #2E2F42;
  padding: 100px 0;
}


.footer-logo{
  display: inline-block;
  font-family:Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #F4F4FD;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase
}

.footer-text{
  color: #F4F4FD;
  max-width: 264px;
  margin-top: 16px;
}
